@model Aspnet_mvc_template_cms_sample.Models.ResetPasswordViewModel

@{
    ViewBag.Title = "Reset Password";
    Layout = "~/Views/Shared/_KmbLayout.cshtml";
}

<style>
    body {
        padding-top: 50px;
    }

    .form-horizontal .control-label {
        padding-top: 10px;
        text-align: left;
    }
</style>

<h2>Reset Password</h2>
<hr />

<div class="row">
    @Html.Partial("_KmbResetPasswordPartial", Model)
</div>


<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>