
@{
    ViewBag.Title = "PageFiedlJS Sample Page";
    Layout = "~/Views/Shared/_ModalLoginLayout.cshtml";
}

<style type="text/css">

html,
body {
    height: 100%;
}

body {
    padding-top: 50px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

.img-portfolio {
    margin-bottom: 30px;
}

.img-hover:hover {
    opacity: 0.8;
}

/* Home Page Carousel */

header.carousel {
    height: 50%;
}

header.carousel .item,
header.carousel .item.active,
header.carousel .carousel-inner {
    height: 100%;
}

header.carousel .fill {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
}

/* 404 Page Styles */

.error-404 {
    font-size: 100px;
}

/* Pricing Page Styles */

.price {
    display: block;
    font-size: 50px;
    line-height: 50px;
}

.price sup {
    top: -20px;
    left: 2px;
    font-size: 20px;
}

.period {
    display: block;
    font-style: italic;
}

/* Footer Styles */

footer {
    margin: 50px 0;
}

/* Responsive Styles */

@@media(max-width:991px) {
    .customer-img,
    .img-related {
        margin-bottom: 30px;
    }
}

@@media(max-width:767px) {
    .img-portfolio {
        margin-bottom: 15px;
    }

    header.carousel .carousel {
        height: 70%;
    }
}
</style>

<h2>Sample Page For PageFieldJS</h2>
<hr />


<page-identity data-page-name="PageField_SamplePage"></page-identity>

<!-- Page Content -->
<div class="container" id="marketing">
    <!-- Marketing Icons Section -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header" data-field-id="marketing_header">
                Welcome to Modern Business
            </h1>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4><span class="glyphicon glyphicon-check"></span> <span data-field-id="marketing_box1_title">Bootstrap v3.3.7</span></h4>
                </div>
                <div class="panel-body">
                    <p data-field-id="marketing_box1_text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, optio corporis quae nulla aspernatur in alias at numquam rerum ea excepturi expedita tenetur assumenda voluptatibus eveniet incidunt dicta nostrum quod?</p>
                    <a data-field-id="marketing_box1_button" href="#" class="btn btn-default">Learn More</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4><span class="glyphicon glyphicon-gift"></span> <span data-field-id="marketing_box2_title">Free &amp; Open Source</span></h4>
                </div>
                <div class="panel-body">
                    <p data-field-id="marketing_box2_text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, optio corporis quae nulla aspernatur in alias at numquam rerum ea excepturi expedita tenetur assumenda voluptatibus eveniet incidunt dicta nostrum quod?</p>
                    <a data-field-id="marketing_box2_button" href="#" class="btn btn-default">Learn More</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4><span class="glyphicon glyphicon-compressed"></span> <span data-field-id="marketing_box3_title">Easy to Use</span></h4>
                </div>
                <div class="panel-body">
                    <p data-field-id="marketing_box3_text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, optio corporis quae nulla aspernatur in alias at numquam rerum ea excepturi expedita tenetur assumenda voluptatibus eveniet incidunt dicta nostrum quod?</p>
                    <a data-field-id="marketing_box3_button" href="#" class="btn btn-default">Learn More</a>
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->
    <!-- Portfolio Section -->
    <div class="row" id="portfolio">
        <div class="col-lg-12">
            <h2 class="page-header" data-field-id="marketing_portfolio_header">Portfolio Heading</h2>
        </div>
        <div class="col-md-4 col-sm-6">
            <a href="portfolio-item.html">
                <img class="img-responsive img-portfolio img-hover" src="http://placehold.it/700x450" alt="">
            </a>
        </div>
        <div class="col-md-4 col-sm-6">
            <a href="portfolio-item.html">
                <img class="img-responsive img-portfolio img-hover" src="http://placehold.it/700x450" alt="">
            </a>
        </div>
        <div class="col-md-4 col-sm-6">
            <a href="portfolio-item.html">
                <img class="img-responsive img-portfolio img-hover" src="http://placehold.it/700x450" alt="">
            </a>
        </div>
        <div class="col-md-4 col-sm-6">
            <a href="portfolio-item.html">
                <img class="img-responsive img-portfolio img-hover" src="http://placehold.it/700x450" alt="">
            </a>
        </div>
        <div class="col-md-4 col-sm-6">
            <a href="portfolio-item.html">
                <img class="img-responsive img-portfolio img-hover" src="http://placehold.it/700x450" alt="">
            </a>
        </div>
        <div class="col-md-4 col-sm-6">
            <a href="portfolio-item.html">
                <img class="img-responsive img-portfolio img-hover" src="http://placehold.it/700x450" alt="">
            </a>
        </div>
    </div>
    <!-- /.row -->
    <!-- Features Section -->
    <div class="row" id="features">
        <div class="col-lg-12">
            <h2 class="page-header" data-field-id="marketing_features_title">Modern Business Features</h2>
        </div>
        <div class="col-md-6">
            <p data-field-id="marketing_features_text">The Modern Business template by Start Bootstrap includes:</p>
            <ul>
                <li data-field-id="marketing_features_item1">Bootstrap v3.3.7</li>
                <li data-field-id="marketing_features_item2">jQuery v1.11.1</li>
                <li data-field-id="marketing_features_item3">Font Awesome v4.2.0</li>
                <li data-field-id="marketing_features_item4">Working PHP contact form with validation</li>
                <li data-field-id="marketing_features_item5">Unstyled page elements for easy customization</li>
                <li data-field-id="marketing_features_item6">17 HTML pages</li>
            </ul>
            <p data-field-id="marketing_features_text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis, omnis doloremque non cum id reprehenderit, quisquam totam aspernatur tempora minima unde aliquid ea culpa sunt. Reiciendis quia dolorum ducimus unde.</p>
        </div>
        <div class="col-md-6">
            <img class="img-responsive" src="http://placehold.it/700x450" alt="">
        </div>
    </div>
    <!-- /.row -->
    <hr>
    <!-- Call to Action Section -->
    <div class="well" id="calling">
        <div class="row">
            <div class="col-md-8">
                <p data-field-id="marketing_calling_text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias, expedita, saepe, vero rerum deleniti beatae veniam harum neque nemo praesentium cum alias asperiores commodi.</p>
            </div>
            <div class="col-md-4">
                <a class="btn btn-lg btn-default btn-block" data-field-id="marketing_calling_button" href="#">Call to Action</a>
            </div>
        </div>
    </div>

</div>
<!-- /.container -->

<script src="~/Scripts/PageField.js"></script>